@import "tailwindcss";

:root {
  --bg: #000;
  --text: #fff;
}

[data-theme='light'] {
  --bg: #fff;
  --text: #000;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}